<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>О компании - Eshop</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/custom.css">
</head>
<body class="bg-light">
<div class="wrapper d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand bg-dark navbar-dark">
    <div class="container-lg">
      <a href="/" class="navbar-brand">eShop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">

                <a class="nav-link" href="/">Главная</a>

            </li>

            <li class="nav-item">

                <a class="nav-link active" aria-current="page" href="/about">О компании</a>

            </li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid shadow my-4 bg-white">
    <div class="container-lg py-3">
      <h1 class="text-black mb-3">О компании</h1>
      <p>Мы рады предложить вам недорогие, но качественные товары с подробными описаниями, характеристиками и
        фотографиями. У нас Вы можете купить замечательные товары: технику, электронику, одежду, обувь, игрушки, книги и
        многое другое в вашем регионе по ценам производителей и без наценки.</p>
      <p>Продажа большого ассортимента разнообразных товаров – основная специализация нашего интернет-магазина. Мы
        доставим ваш заказ бесплатно в любой уголок мира, осуществим подробную консультацию по товарам и поможем с
        выбором.</p>
      <p>Магазин "eShop.ru" предлагает Вам купить качественную и доступную технику, электронику, одежду, обувь,
        игрушки, книги и многое другое с доставкой! Все виды современных товаров от эконом класса до более дорогих
        представлены в нашем каталоге.</p>
      <p>Вы можете купить любые товары в вашем городе: технику, электронику, одежду, обувь, игрушки, книги и многое
        другое.</p>
      <h2 class="mt-5 mb-3">Наша команда</h2>
      <div class="row g-3">

          <div class="col-12 col-lg-4">
            <div class="card shadow-sm">
              <img class="card-img-top" src="/media//images/persons/ceo_420x300_fit_90.png" alt="">
              <div class="card-body">
                <h5 class="card-title">Дуэйн Джонсон</h5>
                <div class="card-text">Директор</div>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-4">
            <div class="card shadow-sm">
              <img class="card-img-top" src="/media//images/persons/lead_420x300_fit_90.png" alt="">
              <div class="card-body">
                <h5 class="card-title">Сара Коннор</h5>
                <div class="card-text">Руководитель команды</div>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-4">
            <div class="card shadow-sm">
              <img class="card-img-top" src="/media//images/persons/developer_420x300_fit_90.png" alt="">
              <div class="card-body">
                <h5 class="card-title">Майк Митчел</h5>
                <div class="card-text">Разработчик</div>
              </div>
            </div>
          </div>


      </div>
    </div>
  </div>
  <div class="my-5 shadow">
    <div class="bg-dark text-light px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">Подпишитесь, чтобы не пропустить лучшие предложения</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">Мы готовы предоставлять вам наши специальные предложения, акции, информацию о новых
        поступлениях и многое другое.</p>
      <form action="/subscribe/" method="post">
        <div class="mb-3">
          <div class="input-group has-validation">
            <input type="text" class="form-control " id="validationServerUsername"
                   aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required name="email"
                   placeholder="name@example.com" value="">

          </div>
        </div>
        <button type="submit" class="btn btn-outline-light btn-lg px-4">Подписаться</button>
      </form>
    </div>
  </div>
</div>
  </div>

  <footer class="mt-auto bg-dark text-white py-3">
    <div class="container-lg">
      <div>@2022 Yandex Lyceum Project</div>
    </div>
  </footer>
</div>

<script src="/static/js/bootstrap.bundle.js"></script>
</body>
</html>